@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}
.radix-themes{
  --default-font-family: "Open Sans", sans-serif !important;  /* Your custom default font */
  --heading-font-family: "Open Sans", sans-serif !important ;  /* Your custom font for <Heading> components */
  --code-font-family: "Open Sans", sans-serif !important ;     /* Your custom font for <Code> components */
  --strong-font-family: "Open Sans", sans-serif !important ;   /* Your custom font for <Strong> components */
  --em-font-family: "Open Sans", sans-serif !important ;       /* Your custom font for <Em> components */
  --quote-font-family: "Open Sans", sans-serif !important ; 
}

body {
  margin: 0;
  padding: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

.bottom-navigation {
  position: fixed;
  bottom: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  align-items: center;
}
.timetravel-slider{
  width: 91%;
  height: 40px;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 13px;
  margin-bottom: 11px;
  border-radius: 11px;
  opacity:1;
}
.timetravel-slider.hidden{
  opacity:0;
}
.buttons-wrapper {
  background-color: #000;
  display: flex;
  border-radius: 12px;
  animation: come-up 0.6s cubic-bezier(0.55, 0, 0.05, 0.97);
  transition: all 0.3s;
  box-shadow: 0px 0px 0px 2px #ffffff9f;
}

.buttons-wrapper:hover {
  box-shadow: 0px 0px 0px 2px #13ff6e57, 0px 0px 0px 5px #13ff6e56;
}

.buttons-wrapper .rt-Box {
  padding: 10px;
  margin: 6px;
  border-radius: 8px;
  display: flex;
  transition: all 0.3s;
  cursor: pointer;
  font-size: 30px;
}

.buttons-wrapper .back-button {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  transform: translateY(100px);
  font-size: 0;
}
.buttons-wrapper .back-button.show-back-button {
  padding: 10px;
  transition: all 0s;
  animation: come-up 0.4s 0s;
  font-size: 30px;
  transform: translateY(0px);
  margin: 6px;
}

.buttons-wrapper .rt-Box:nth-child(2) {
  animation: come-up 0.5s 0.1s cubic-bezier(0.55, 0, 0.05, 0.97);
}
.buttons-wrapper .rt-Box:nth-child(3) {
  animation: come-up 0.5s 0.2s cubic-bezier(0.55, 0, 0.05, 0.97);
}
@keyframes come-up {
  0% {
    transform: translateY(200px);
    font-size: 0;
    padding: 0px;
  margin: 0px;
  }
  10% {
    transform: translateY(200px);
    font-size: 30;
    padding: 10px;
  margin: 6px;
  }
  100% {
    transform: translateY(0px);
  }
}

.card{
  border:1px solid #000;
  height:10px;
}
.btn {
  background: none;
  box-shadow: 0 0 0px 1px #00000021;
  color: #000;
  border-radius: 100px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .3s;
  background-color: #fff;
}
.btn-secondary {
  background-color: transparent;

}
.btn:hover {
  box-shadow: 0 0 3px 3px #0000000f;

}

.avatar-group{
  margin-left: 15px;
}
.avatar-group .rt-AvatarRoot {
  margin-left: -21px;
}

.block-body{
  font-weight: 200;
  content: "";
}
.block-body::after{
  content: "";
  background:linear-gradient(to bottom, #00000000,#00000000);
  position: absolute;
  top: 0;
  left: 0;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  width: 100%;
}
.my-masonry-grid_column {
  background-clip: padding-box;
}

.org-back-letter{
  position: absolute;
    font-size: 190px;
    opacity: .05;
    color:#000;
    right: -20px;
    bottom: -67px;
    z-index: 0;
}
.org-back-letter ~ .rt-Flex {
  z-index: 1;
  position: relative;
}
.rt-DropdownMenuItem a{
  text-decoration: none;
  color: inherit
}